html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }

  .slick-prev:before,
.slick-next:before {
    background-color: red; 
    border-radius: 50%;
}